// font
$font_en: New York Extra Large;
$font_ch: Source Han Serif JP;

// color
$color_main: #4C5B4F;
$color_secondary: #555555;

// font size
$size_title_ch: 24px;
$size_subtitle_ch: 16px;
$size_subtitle_en: 16px;
$size_content_ch: 16px;

// font weight
$weight_title_ch: bold;
$weight_subtitle_ch: bold;
$weight_content_ch: normal;

// font style
$style_subtitle_en: italic;

