@import "../../utilities/variables.scss";

.container {
    width: 713px;
    height: 142px;
    z-index: 0;
        
    margin-bottom: 40px;
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    

    .about_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 96px;
        height: 93px;
    
        #en_subtitle {
            font-family: $font_en;
            font-size: $size_subtitle_en;
            font-style: $style_subtitle_en;
            color: $color_secondary;
        }
    
        #ch_title {
            font-family: $font_ch;
            font-size: $size_title_ch;
            font-weight: $weight_title_ch;
            color: $color_secondary;
        }

        .icon_main {
            position: relative;
            margin: 20px 0px 10px 0px;
        }
    }
    
    .bar {
        height: 90px;
        border: 0.5px solid $color_secondary;
    }

    .content {
        width: 486px;
        height: 142px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        #title {
            // Font
            font-family: $font_ch;
            color: $color_main;
            font-weight: $weight_title_ch;
            margin-bottom: 10px;
        }

        #content {
            // Font
            font-family: $font_ch;
            color: $color_secondary;
        }
        
    }
}

@media screen and (max-width: 800px) {
    .container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        height: 325px;
        z-index: 0;
            
        margin-bottom: 0px;
            
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 30px;


        background: rgba(242, 242, 242, 0.9);

        .about_title {         
            height: auto;   
            .icon_main {
                display: none;
            }
        }

        .bar {
            margin: 20px 0px;
            width: 40px;
            height: 1px;
            border: 1px solid $color_secondary;
        }

        .content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
}