@import "../utilities/variables.scss";

.container {
    // position: relative;
    // top: 0px;
    // width: 100%;
    // height: 205px;
    // padding: 0px 60px;

    // background: rgba(242, 242, 242, 0.9);
    // backdrop-filter: blur(8.15485px);

    // display: flex;
    // justify-content: center;
    // align-items: center;

        position: relative;
        top: 0px;
        width: 100%;
        height: 205px;
        padding: 0px 270px;

        background: rgba(242, 242, 242, 0.9);
        backdrop-filter: blur(8.15485px);

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    // .info_content {
    //     width: 1381px;
    //     height: 130px;

    //     display: flex;
    //     justify-content: space-between;

    //     .info_details {
    //         width: 500px;
    //         height: 100%;

    //         table {
    //             margin-top: 23px;
    //             width: 100%;
                
    //             th {
    //                 color: $color_secondary;
    //                 font-style: $style_subtitle_en;
    //                 font-weight: 600;
    //                 text-align: left;
                    
    //             }
    
    //             #first_col{
    //                 padding: 0px;
    //                 width: 296px;
    //                 color: $color_secondary;
    //                 font-size: $size_subtitle_ch;
    //                 font-weight: $weight_content_ch;
    //                 text-align: left;
    //             }
    
    //             #second_col {
    //                 padding: 0px;
    //                 width: 205px;
    //                 color: $color_secondary;
    //                 font-size: $size_subtitle_ch;
    //                 font-weight: $weight_content_ch;
    //                 text-align: left;
    //             }
    //         }
    //     }

    .content_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        margin-right: 60px;
        width: 241px;

        .address_title {
            color: $color_secondary;
            font-style: $style_subtitle_en;
            font-weight: 600;
            text-align: left;

            margin-top: 20px;
        }

        .address_detail {
            color: $color_secondary;
            font-size: $size_subtitle_ch;
            font-weight: $weight_content_ch;
            text-align: left;

            margin-top: 5px;
            padding: 0px;
            width: 241px;
        }
    }

    .content_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 241px;
        height: 100%;
        // margin-right: 780px;

        .blank_area{
            height: 80px;
        }

        .email_title {
            color: $color_secondary;
            font-style: $style_subtitle_en;
            font-weight: 600;
            text-align: left;
        }

        .email_detail {
            color: $color_secondary;
            font-size: $size_subtitle_ch;
            font-weight: $weight_content_ch;
            text-align: left;

            margin-top: 5px;
            padding: 0px;
            width: 100%;
        }
    }

    .area_before_qrcode {
        width: 780px;
    }

    .content_right {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        width: 100%;

        .qrcode {
            width: 100%;
            height: 100%;

            .qr_text {
                margin-top: 10px;
                text-align: center;
                color: $color_secondary;
                font-weight: $weight_subtitle_ch;
                font-size: 13px;
            }     
        }
    }
}

@media screen and (max-width: 1920px) {
    .container {
        padding: 0px 40px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 0px 60px;

        .area_before_qrcode {
            width: 758px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .container {
        padding: 0px 60px;

        .area_before_qrcode {
            width: 558px;
        }
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0px 60px;

        .area_before_qrcode {
            width: 83px;
        }
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        padding: 30px;

        .content_left {
            margin-right: 0px;
            width: 100%;
    
            .address_title {
                margin-top: 10px;
            }
    
            .address_detail {
                margin-top: 10px;
                width: 100%;
            }
        }
    
        .content_center {
            width: 100%;

            .blank_area{
                display: none;
            }
    
            .email_title {
                margin-top: 10px;
            }
    
            .email_detail {
                margin-top: 10px;
                width: 100%;
            }
        }

        .area_before_qrcode {
            display: none;
        }

        .content_right {
            display: none;
        }
    }
    // .container {
    //     height: 100%;
    //     padding: 30px;

    //     .info_content {
    //         width: 100%;
    //         height: 100%;
    
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: start;
    
    //         .info_details {
    //             width: 100%;
    //             height: 100%;
    
    //             table {
    //                 margin-top: 23px;
    //                 width: 100%;
                    
    //                 th {
    //                     color: $color_secondary;
    //                     font-style: $style_subtitle_en;
    //                     font-weight: 600;
    //                     text-align: left;
                        
    //                 }
        
    //                 #first_col{
    //                     padding: 0px;
    //                     width: 296px;
    //                     color: $color_secondary;
    //                     font-size: $size_subtitle_ch;
    //                     font-weight: $weight_content_ch;
    //                     text-align: left;
    //                 }
        
    //                 #second_col {
    //                     padding: 0px;
    //                     width: 205px;
    //                     color: $color_secondary;
    //                     font-size: $size_subtitle_ch;
    //                     font-weight: $weight_content_ch;
    //                     text-align: left;
    //                 }
    //             }
    //         }
    
    //         .qrcode {
    //             width: 100px;
    //             height: 100%;
    
    //             #qr_text {
    //                 margin-top: 10px;
    //                 text-align: center;
    //                 color: $color_secondary;
    //                 font-weight: $weight_subtitle_ch;
    //                 font-size: 13px;
    //             }     
    //         }
    //     }
    // }
}