.container {
    width: 100%;
    height: auto;
    display: block;
    background-color: #EBEBEB;
}

// @media screen and (min-width:1440px){
//     .container {
//         width: 1440px;
//     }
// }